footer{
    padding: 100px;
}

.footer__left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.facebook{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__right ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__right{
    display: flex;
    gap: 100px;
}