.header__nav__right__btns__sign__up:hover{
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
}

.hero__get-started__btn:hover{
    border-color: var(--primaryColor);
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
}