* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

*,*::after,*::before{
    box-sizing: border-box;
    transition: 0.4s;
}

a{
    color: inherit;
}

button{
    cursor: pointer;
}

.container{
    width: 80%;
    margin: 0 auto;
    max-width: 1440px;
}
 

.df{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-top{
    position: fixed;
    bottom: 50px;
    right: 30px;
    background-color: var(--primaryColor);
    font-size: 22px;
    padding: 5px 10px;
    border-radius: 50%;
    color: var(--secondaryColor);
    display: none;
}

.show__back-top{
    display: block !important;
}

body{
    background: var(--bodyColor);
}